html {
    --xp-blue: rgb(11, 97, 255);
}

html, body, #root {
    height: 100%;
}

.background-wallpaper {
    z-index: -1;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.fit-to-bottom {
    position: fixed;
    bottom: -2px;
    left: -10px;
    width: 110%;
}

.start-menu {
    height: 33px;
    margin-bottom: 0px;
}

.start-menu:hover {
    filter: brightness(107%);
}

.start-menu:active {
    filter: brightness(85%);
}

.icon-focused p {
    background-color: var(--xp-blue);
}

.icon-focused img {
    opacity: .7;
}

.empty-tile {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.selection-box {
    visibility: hidden;
    position: absolute;
    border: 1px dotted rgb(87, 87, 87);
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 1;
    /* width: 100px;
    height: 100px; */
}

.dialog-box {

}