html {
    --xp-blue: rgb(11, 97, 255);
    --taskbar-default: rgb(60, 129, 243);
    --taskbar-selected: rgb(30, 82, 183);
    --grey: rgb(130,130,130);
}

html p {
    user-select: none !important;
}

html, body, #root {
    height: 100%;
    overflow: hidden;
}

.background-wallpaper {
    z-index: -1;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.icon-focused p {
    background-color: var(--xp-blue);
}

.icon-focused img {
    opacity: .7;
}

.empty-tile {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.selection-box {
    visibility: hidden;
    position: absolute;
    border: 1px dotted rgb(87, 87, 87);
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 1;
    /* width: 100px;
    height: 100px; */
}

.grayscale, .grayscale p {
    filter: grayscale(1);
    color: var(--grey);
}

.grayscale-all > div:not(.error-container) {
    animation-name: grayscaleAll;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes grayscaleAll {
    0% {
        filter: grayscale(0);
    }
    50% {
        filter: grayscale(0);
    }
    100% {
        filter: grayscale(1);
    }
}

.error-dialog-click {
    animation-name: animateErrorTitleBar;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.title-bar-controls button {
    min-width: 20px !important;
}

@keyframes animateErrorTitleBar {
    0% {
        background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
    }
    20% {
        background: linear-gradient(rgb(118, 151, 231) 0%, rgb(126, 158, 227) 3%, rgb(148, 175, 232) 6%, rgb(151, 180, 233) 8%, rgb(130, 165, 228) 14%, rgb(124, 159, 226) 17%, rgb(121, 150, 222) 25%, rgb(123, 153, 225) 56%, rgb(130, 169, 233) 81%, rgb(128, 165, 231) 89%, rgb(123, 150, 225) 94%, rgb(122, 147, 223) 97%, rgb(171, 186, 227) 100%);
    }
    40% {
        background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
    }
    60% {
        background: linear-gradient(rgb(118, 151, 231) 0%, rgb(126, 158, 227) 3%, rgb(148, 175, 232) 6%, rgb(151, 180, 233) 8%, rgb(130, 165, 228) 14%, rgb(124, 159, 226) 17%, rgb(121, 150, 222) 25%, rgb(123, 153, 225) 56%, rgb(130, 169, 233) 81%, rgb(128, 165, 231) 89%, rgb(123, 150, 225) 94%, rgb(122, 147, 223) 97%, rgb(171, 186, 227) 100%);
    }
    80% {
        background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
    }
    100% {
        background: linear-gradient(rgb(118, 151, 231) 0%, rgb(126, 158, 227) 3%, rgb(148, 175, 232) 6%, rgb(151, 180, 233) 8%, rgb(130, 165, 228) 14%, rgb(124, 159, 226) 17%, rgb(121, 150, 222) 25%, rgb(123, 153, 225) 56%, rgb(130, 169, 233) 81%, rgb(128, 165, 231) 89%, rgb(123, 150, 225) 94%, rgb(122, 147, 223) 97%, rgb(171, 186, 227) 100%);
    }
}

.clippy-loading {
    display: flex;
    justify-content: center;
}

.clippy-dot {
    margin-left: 5px;
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
}

.clippy-dot:nth-child(1) {
    animation: clippy-dot-1 1s infinite;
    animation-delay: .2s;
}

.clippy-dot:nth-child(2) {
    animation: clippy-dot-2 1s infinite;
    animation-delay: .4s;
}

.clippy-dot:nth-child(3) {
    animation: clippy-dot-3 1s infinite;
    animation-delay: .6s;
}

@keyframes clippy-dot-1 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes clippy-dot-2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes clippy-dot-3 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

